.App{
    overflow-x: hidden; 
  }
  
  body{
    background-color: white;
    color: black;
  }
  input{
    background-color: #fff;
  }
  html, body {
  overflow-x: hidden;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
